/*Info Bar */
/*These are all standard manually added a tags content is adjusted in header php to whatever you want, not dynamic, shouldnt need to change these.*/
/*Info Bar */
.info-bar {
    background: #1e1e1e!important;
    position: relative;
    font-size: 14px;
    height: 40px;
}
.info-bar a {
padding-left: 5px;
padding-right: 5px;
color: #cccccc;
}
.info-bar .right-section,
.info-bar .left-section {
padding-top: 8px;
}
.info-bar .right-section {
    
    float: none;
}
.info-bar .left-section {
    float: left;
}
.contact-icons {
position:relative;
left: 20px;
}
.top-social {
 position:absolute;
   top:8px;
   right:20px;
}
/*Change these to suit your classes, these were mine*/
.menu-top-menu-container ul {
list-style-type: none;
list-style: none;
list-style-image: none;
}
.menu-top-menu-container li {
display: inline;
}
